/* COLORS */
$dark-blue: #00112B;
$light-blue: #011b42;
$dark-red: #DA2424;
$light-red: #FF2A2A;
$white: #FFF;

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Urbanist:wght@100;300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $dark-blue;
  color: white;
  text-align: center;
}

/* TYPOGRAPHY */

h1{
  font-size: 64px;
  font-weight: 700;
  user-select: none;
}

p{
  font-size: 18px;
  font-weight: 400;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

*:focus{
  outline: none;
}

button{
  cursor: pointer;
  font-family: inherit;
}
