@import "./general";

@include generalReset();

body{
    background: url(../assets/home/background-home-desktop.jpg) no-repeat, linear-gradient(180deg, hsla(213, 71%, 15%, 1) 33%, hsla(230, 33%, 7%, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
}
/*
    https://space-tourism-multi-page-solution.netlify.app/index.html
*/
header{
    color: $primaryWhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 3% 0;
    padding-left: 3%;
    text-transform: uppercase;
    
    .logo{
        align-self: center;
        cursor: pointer;
    }

    .separator-line{
        min-width: 30%;
        height: 2px;
        background-color: $primaryWhite;
        align-self: center;
        margin: 0 5%;
        opacity: 0.2;
    }

    @include Navigation();

    .menu-destination, .menu-technology, .menu-crew{
        &::before{
            opacity: .5;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        &:hover::before{
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 10%;

    .hero_text{
        color: $accentColor;
        width: 50%;
        & > h5{
            text-transform: uppercase;
            font-weight: 400;
        }
        & > h1{
            text-transform: uppercase;
            color: $primaryWhite;
        }
        .body-text{
            width: 45ch;
        }
    }

    .explore_button{
        align-self: flex-end;
        margin-right: 10%;
        button{
            width: 325px;
            height: 325px;
            border-radius: 50%;
            border: none;
            background: $primaryWhite;
            position: relative;
            cursor: pointer;

            &::before{
                content: '';
                position: absolute;
                top: 50%;  /* position the top edge of the element at the middle of the parent */
                left: 50%; /* position the left edge of the element at the middle of the parent */
                transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
                width: 25vw;
                height: 25vw;
                border-radius: 50%;
                border: none;
                background: $primaryWhite;
                z-index: -1;
                visibility: hidden; 
                opacity: 0;
                transition: opacity .2s ease-out;
                -moz-transition: opacity .2s ease-out;
                -webkit-transition: opacity .2s ease-out;
                -o-transition: opacity .2s ease-out;
            }
            &:hover::before{
                visibility: visible;
                opacity: 0.15;
            }

        }
    }
}


@media (max-width: 1300px) {
    .content{
        .explore_button{
            margin-right: 0;

            button{
                width: 250px;
                height: 250px;

                &::before{
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }

    header{
        .separator-line{
            min-width: 20%;
        }

        .menu{
            min-width: 65%;
            padding-right: 5%;
            padding-left: 5%;
        }
    }  
}

@media (max-width: 1050px) {
    body{
        background: url(../assets/home/background-home-tablet.jpg) no-repeat, linear-gradient(180deg, hsla(213, 71%, 15%, 1) 33%, hsla(230, 33%, 7%, 1) 100%);
        background-size: cover;
    }

    .content{
        flex-direction: column;
        align-items: center;

        .explore_button{
            align-self: center;
            margin-top: 5rem;
        }

        .hero_text{
            width: 100%;
            text-align: center;
    
            .body-text{
                width: 50%;
                margin: 0 auto;
            }
        }
    }

    header{
        .separator-line{
            min-width: 20%;
        }

        .menu{
            min-width: 65%;
            padding-right: 5%;
            padding-left: 5%;
        }
    } 
}

@media (max-width: 850px){
    .content{
        .hero_text{
            .body-text{
                width: 75%;
            }
        }
    }

    header{
        .separator-line{
            display: none;
        }
        .menu{
            min-width: 80%;
            padding-right: 5%;
            padding-left: 5%;
        }
        .nav-text-highlight{
            display: none;
        }
    } 
}

@media (max-width: 550px){
    body{
        background: url(../assets/home/background-home-mobile.jpg) no-repeat, linear-gradient(180deg, hsla(213, 71%, 15%, 1) 33%, hsla(230, 33%, 7%, 1) 100%);
        background-size: cover;
    }

    .content{
        .hero_text{
            h1{
                font-size: 80px;
            }
            h5{
                font-size: 16px;
            }
            .body-text{
                font-size: 15px;
            }
        }

        .explore_button{
            h4{
                font-size: 20px;
            }
            button{
                width: 150px;
                height: 150px;

                &::before{
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }

    header{
        padding: 10% 5%;

        .separator-line{
            display: none;
        }
        .menu{
            display: none;
        }
        .mobile-nav{
            display: block;
        }   
    } 
}