@import "./general";

@include generalReset();

body{
    background: url(../assets/technology/background-technology-desktop.jpg) no-repeat, linear-gradient(180deg, #0A0E13 33%, #0B0E17 100%);
    background-attachment: fixed;
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    color: $primaryWhite;
    margin-left: 11.5%;

    .hero-text{
        width: 100%;
        text-transform: uppercase;
        padding: 0.5vh 0 5vh 0;
        span{
            opacity: 0.25;
            font-weight: 700;
            margin-right: 2ch;
        }
    }

    .content{
        display: flex;
        justify-content: space-between;

        p{
            color: $accentColor;
        }

        .information{
            display: flex;

            .tech-menu{
                display: flex;
                flex-direction: column;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 5em;
                    height: 5em;
                    background-color: $primaryWhite;
                    border: 2px solid $primaryWhite;
                    color: $primaryBlack;
                    text-align: center;
                    border-radius: 50%;
                    margin-bottom: 2em;
                    cursor: pointer;
                }

                .not-selected{
                    background-color: transparent;
                    border: 2px solid rgba($primaryWhite, 0.3);
                    color: $primaryWhite;

                    &:hover{
                        border: 2px solid rgba($primaryWhite, 1);
                        transition: .3s ease-in-out;
                    }
                }
            }

            .tech-text{
                margin-inline: 10%;
                min-width: 40vw;

                .body-text{
                    width: MIN(30vw, 47ch);
                }

                h3{
                    padding-top: 2%;
                    padding-bottom: 4%;
                }
            }
        }

        .photo{
            transform: translateY(-10%);
        }
    }
}

header{
    color: $primaryWhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 3% 0;
    padding-left: 3%;
    text-transform: uppercase;
    
    .logo{
        align-self: center;
        cursor: pointer;
    }

    .separator-line{
        min-width: 30%;
        height: 2px;
        background-color: $primaryWhite;
        align-self: center;
        margin: 0 5%;
        opacity: 0.2;
    }

    @include Navigation();

    .menu-home, .menu-destination, .menu-crew{
        &::before{
            opacity: .5;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        &:hover::before{
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}


@media (max-width: 1300px) {
    body{
        background: url(../assets/technology/background-technology-tablet.jpg) no-repeat, linear-gradient(180deg, #0A0E13 33%, #0B0E17 100%);
        background-size: cover;
    }

    header{
        .separator-line{
            min-width: 20%;
        }

        .menu{
            min-width: 65%;
            padding-right: 5%;
            padding-left: 5%;
        }
    }

    main{
        margin-inline: 0;
        margin-bottom: 5%;

        .hero-text{
            margin-inline: 11.5%;
            width: auto;
        }

        .content{
            flex-direction: column-reverse;

            .information{
                flex-direction: column;
                align-items: center;

                .tech-menu{
                    flex-direction: row;
                    a{
                        margin: 2em 1em;
                    }
                }
                .tech-text{
                    margin-inline: 11.5%;
                    width: 100%;
                    align-items: center;
                    text-align: center;

                    .body-text{
                        width: 70%;
                        margin-inline: auto;
                    }
                }
            }
            .photo{
                margin-inline: auto;
                img{
                    width: 80vw;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    header{
        .separator-line{
            display: none;
        }
        .menu{
            min-width: 80%;
            padding-right: 5%;
            padding-left: 5%;
        }
        .nav-text-highlight{
            display: none;
        }
    }

    main{
        .hero-text{
            margin-inline: 5%;

            h5{
                font-size: 20px;
            }
        }

        .content{
            .information{
                .tech-menu h4{
                    font-size: 24px;
                }

                .tech-text{
                    margin-inline: 8%;

                    h3{
                        font-size: 40px;
                    }

                    .body-text{
                        font-size: 16px;
                    }
                }
            }
            .photo{
                img{
                    width: 100vw;
                }
            }
        }
    }
}

@media (max-width: 550px){
    body{
        background: url(../assets/technology/background-technology-mobile.jpg) no-repeat, linear-gradient(180deg, #0A0E13 33%, #0B0E17 100%);
        background-size: cover;
    }

    header{
        padding: 10% 5%;

        .separator-line{
            display: none;
        }
        .menu{
            display: none;
        }
        .mobile-nav{
            display: block;
        }   
    }
    
    main{
        .hero-text{
            text-align: center;
            span{
                margin-right: 0;
            }
        }

        .content{
            .information{
                .tech-menu{
                    a{
                        margin-inline: 0.5em;
                    }
                }

                .tech-text{
                    p{
                        font-size: 16px;
                    }
                    h3{
                        font-size: 24px;
                    }

                    .body-text{
                        font-size: 15px;
                        width: 85%;
                    }
                }
            }
        }
    }
}