h1{
    text-align: center;
    margin-inline: auto;

    @media (max-width: 500px) {
       font-size: 1.5rem;
    }
}

nb-layout-footer{
    margin-top: 5rem !important;

    p{
        padding: 0;
        margin: 0;
    }
    a{
        text-decoration: none;
    }
}