.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
$white: hsl(0, 0%, 100%);
$box-shadow-color: hsl(212, 45%, 80%);
  
body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: $light-gray;
}
p{
    color: $grayish-blue;
    font-size: 18px;
    font-weight: 400;
    margin: 1rem;
}
h1{
    color: $dark-blue;
    font-weight: 700;
    margin: 1rem 0;
    font-size: 28px;
}
main{
    display: flex;
    flex-direction: column;
    background-color: $white;
    margin: 8% 40%;
    padding: 1%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 24px 0px $box-shadow-color;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.qr-img img{
    max-width: 100%;
    border-radius: 20px;
}

@media (max-width:1500px) {
    main{
    margin: 8% 35%;
    padding: 2%;
    }
  }
  @media (max-width:1000px) {
    main{
    margin: 8% 30%;
    padding: 3%;
    }
  }
  @media (max-width:750px) {
    main{
    margin: 8% 20%;
    padding: 4%;
    }
  }
  @media (max-width:500px) {
    main{
    margin: 8% 10%;
    padding: 5%;
    }
  }
  @media (max-width:400px) {
    main{
    margin: 8% 5%;
    padding: 6%;
    }
  }
